# Xcode
.DS_Store
*/.DS_Store
*/*/DS_Store
xcuserdata/
*.xcuserstate
project.xcworkspace/
xcshareddata/
UserInterfaceState.xcuserstate
DerivedData/
.build/
build/

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
.build/
Package.resolved
/*.xcodeproj

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
injected_container.swift
injected_container.h

# User-specific files
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Debug and Release files
*.dSYM.zip
*.dSYM
*.ipa
*.app.zip

# App Store Connect
*.cer
*.mobileprovision
*.dSYM
